body {
    margin: 0;
    min-width: 100vh;
    background-color: #FAF1EB; 
    color: #280D0D; 
    font-family: "Plus Jakarta Sans",sans-serif; 
}
.header {
    height: 5px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: #280D0D; 
    text-decoration: none;

}

.content {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.footer {
    background-color: #280D0D;
    color: #FAF1EB;
    text-align: center;
    padding: 20px;
}
 
.about {
    flex: 3;

}

.headshot {
    flex: 1;
    border-radius: 10px;


}

h1 { 
        font-family: "Space Mono", sans-serif;
        font-size: 32px;
}

h2 {
       font-family: "Space Mono", sans-serif;
       font-size: 24px;
}

button {
   width: 100px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    color: #FAF1EB;   
    background-color: #280D0D;
    font-family: "Plus Jakarta Sans", sans-serif;

}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: #F9FAF8;
    gap: 20px;
    text-decoration: none;
    color: #280D0D; 

}

.logos {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    align-items: center;
}

.github-icon {
}

.linkedin-icon {

}

.muckrack-icon {

}